/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

/* BODY */
body{
  min-height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('../images/pic2.jpg') no-repeat center/cover;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  color:white;
}

/* MAIN CONTAINER */
.main-container{
  width:70%;
  max-width:1100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:150px;
}

/* RIGHT CONTENT */
.right-content{
  flex:1;
}

.right-content h1{
  font-family: 'Segoe UI', sans-serif;
  font-size:70px;
  margin-bottom: 50px;
}

.right-content h3{
  font-family:'Freestyle Script', cursive;
  font-size:35px;
  font-weight:normal;
  opacity:0.9;
  margin-bottom: 50px;
}

/* CARD */
.login-card{
  width:380px;
  padding:35px;
  background:rgba(255,255,255,0.12);
  backdrop-filter:blur(15px);
  border-radius:20px;
  box-shadow:0 8px 32px rgba(0,0,0,0.4);
}

.login-card h2{
  text-align:center;
  margin-bottom:20px;
}

/* FORM */
label{
  font-size:14px;
  margin-top:10px;
  display:block;
}

input{
  width:100%;
  padding:10px;
  margin-top:2px;
  margin-bottom:8px;
  border:none;
  border-radius:8px;
  background:rgba(255,255,255,0.85);
  font-size:12px;
  transition:0.3s;
}

input:focus{
  outline:none;
  box-shadow:0 0 0 2px #2d6a4f;
  background:white;
}

.password-field{
  position:relative;
}

.password-field input{
  padding-right:90px;
}

.password-field .password-toggle{
  position:absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  border:none;
  background:transparent;
  color:#2d6a4f;
  font-size:0;
  cursor:pointer;
  padding:6px;
  display:flex;
  align-items:center;
  justify-content:center;
  display:none;
}

.password-field .password-toggle svg{
  width:18px;
  height:18px;
  display:block;
}

.password-field .password-toggle:hover{
  color:#174c2f;
}

/* BUTTON */
.btn{
  width:60%;
  padding:10px;
  margin-top:15px;
  margin-left: 50px;
  border:none;
  border-radius:8px;
  background:#2d6a4f;
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.btn:hover{
  background:#1b4332;
  transform:scale(1.02);
}

/* LINKS */
.auth-links{
  text-align:center;
  margin-top:15px;
}

.auth-links a{
  color:#d8f3dc;
  text-decoration:none;
  font-size:13px;
}

.auth-links a:hover{
  text-decoration:underline;
}

/* SUCCESS MESSAGE */
.success-box{
  color:green;
  background:white;
  padding:10px;
  border-radius:6px;
  margin-bottom:15px;
  text-align:center;
}

/* ERROR MESSAGE */
.field-error{
  color:#f3a8a8e2;
  font-size:12px;
  margin-bottom:8px;
  font-style: italic;
}

/* MOBILE */
@media (max-width: 500px){

  .right-content h1{
    font-size:36px;
  }

  .right-content h3{
    font-size:18px;
  }

  .tagline{
    font-size:14px;
  }

  .login-card{
    padding:20px;
  }

  input{
    padding:10px;
  }

  .btn{
    padding:10px;
  }
}